<div class="alert alert-warning alert-dismissible fade show" role="alert" ng-show="!!$ctrl.errMsg">
  <strong>Holy guacamole!</strong> {{$ctrl.errMsg}}
</div>

<div class="jumbotron">
<h1 ng-hide="$ctrl.loggedIn">Login</h1>
<h1 ng-show="$ctrl.loggedIn">You are logged in already</h1>
<br>
<button type="button" class="btn btn-secondary btn-dark" ng-click="$ctrl.anonLogin()" ng-hide="$ctrl.loggedIn">Anonymous</button>
<button type="button" class="btn btn-fb" ng-click="$ctrl.fbLogin()" ng-hide="$ctrl.loggedIn">Facebook</button>
<button type="button" class="btn btn-gplus" ng-click="$ctrl.googleLogin()" ng-hide="$ctrl.loggedIn">Google</button>
</div>

<!-- 

https://kieldev.wordpress.com/2017/02/11/firebase-implementing-firebaseui-for-web-authentication/ 

https://github.com/RaphaelJenni/FirebaseUIAngularIntegration

-->